<mat-toolbar color="primary">
  <span>Rudolf Coaches</span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Blog">
    <app-blog></app-blog>
  </mat-tab>
  <mat-tab label="Coaching">
    <p>Coaching is usually 1-10 sessions of an hour, where the coachee gets help on reflecting and getting in touch with
    their own values, beliefs, passions, limiting stories they have about themselves in a work related context. The
      sessions guide towards a solution, but the responsibility for the solution is with the coachee.</p>

    <p>Themes could be: carreer satisfaction, change, communication, leadership challenges</p>
  </mat-tab>
  <mat-tab label="About me">Hi! I'm Rudolf</mat-tab>
  <mat-tab label="Book a session">There will be a link to youcanbookme.com</mat-tab>
</mat-tab-group>
<main>

</main>
